body {
    background-color: #1d1d1b;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.modal {
    /* Rectangle 2 */
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    top: 40px;
    bottom: 40px;
    background: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

.heading {
    font-family: "Roboto Mono", monospace;
    font-style: bold;
    font-weight: 500;
    font-size: 26px;
    line-height: 45px;
    text-align: center;
    /* identical to box height */
    color: #000000;
}

.upload {
    background: #886CE4;
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

a {
    color: #000;
}

.info {
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #000000;
}

.footer {
    /* made with 💜 using face-api.js */
    font-family: "Roboto Mono", monospace;
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding-top: 60px;
    color: #000000;
}